fastapi
uvicorn
python-dotenv
pydantic
langchain
langchain-community
langchain-huggingface
langchain-groq
langchain-mistralai
pandas
Pillow
easyocr
pytesseract
python-docx
openpyxl
python-pptx
unstructured